In [116]:
import pprint
import os
import random
from PIL import Image

import pandas as pd
import numpy as np

In [90]:
images_files = os.listdir('./Images')

In [117]:
img = Image.open('./Images/' + images_files[0])
arr = np.array(img)

In [123]:
arr.shape

(1940, 1365, 3)

In [122]:
len(arr[1][0])

3

In [ ]:
pd.read_csv('data_dictionary.docx')

In [3]:
df = pd.read_csv('tagged_results.csv')

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,1,2,4,5,6,7,8,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
not_null = df[~df['attributes'].isnull()]

In [46]:
not_null['parsed_attributes'] = not_null.dropna(axis=1)['attributes'].apply(lambda x: eval(str(x)))

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
not_null.dropna(axis=1).columns

Index(['attributes', 'filename', 'parsed_attributes'], dtype='object')

In [109]:
example = [15971, 15947, 19408, 15453]

In [113]:
num = random.randint(0, len(not_null))
num = 19408
print(num)
not_null['filename'][num], not_null['parsed_attributes'][num]

19408

('k_975523_1_20170918222846000.jpg',
 {'actual_color_shade': ['Rice'],
  'age_group': ['Child'],
  'apparel_category': ['Girls'],
  'apparel_pattern': ['Solid'],
  'closure_type': ['Button & Zipper'],
  'clothing_fit': ['Regular'],
  'color_category': ['White'],
  'country_of_origin': ['Imported'],
  'fabric_care_instruction': ['Do Not Iron', 'Dry Flat', 'Machine Wash'],
  'fabric_content': ['100% Polyester'],
  'fabric_material': ['Knit'],
  'gender': ['Women'],
  'lining': ['Lined'],
  'lining_material': ['Polyester'],
  'machine_washable': ['Yes'],
  'sleeve_length': ['Short'],
  'sleeve_style': ['Cap Sleeve']})

In [16]:
df[df['filename'] == '941234bleach1_1_20160414065445545.jpg']

,attributes,bag_shape,bounding_box,category,closure_type,coat_style,denim_wash_color,dress_length,dress_shape,filename,...,skirt_shape,sleeve_length,sleeve_style,sub_category,sweater_neckline,sweater_style,sweatshirt_neckline,toe_shape,toe_type,top_length
0,"{'Pattern': ['Solid'], 'Color': ['Blue'], 'Gen...",NaN,NaN,Clothing,NaN,NaN,NaN,NaN,NaN,941234bleach1_1_20160414065445545.jpg,...,NaN,NaN,NaN,Upper Body Garments,NaN,NaN,NaN,NaN,NaN,NaN
27383,NaN,NaN,[],cardigan,zip,NaN,NaN,NaN,NaN,941234bleach1_1_20160414065445545.jpg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df[df['filename'] == '140172472_3_20161214075635169.jpg']

,attributes,bag_shape,bounding_box,category,closure_type,coat_style,denim_wash_color,dress_length,dress_shape,filename,...,skirt_shape,sleeve_length,sleeve_style,sub_category,sweater_neckline,sweater_style,sweatshirt_neckline,toe_shape,toe_type,top_length
1,"{'Pattern': ['Solid'], 'Color': ['Gray'], 'Gen...",NaN,NaN,Clothing,NaN,NaN,NaN,NaN,NaN,140172472_3_20161214075635169.jpg,...,NaN,NaN,NaN,Upper Body Garments,NaN,NaN,NaN,NaN,NaN,NaN
29738,NaN,NaN,[],cardigan,button,NaN,NaN,NaN,NaN,140172472_3_20161214075635169.jpg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
pprint.pprint(df['attributes'][0])

("{'Pattern': ['Solid'], 'Color': ['Blue'], 'Gender': ['Female'], 'Sleeve "
 "Length': ['Long Sleeve'], 'Is Hooded': ['No'], 'Sweatshirt & Hoodie Type': "
 "[], 'Age Group': ['Adult']}")